@model StockManagementSystem.Models.warehouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>warehouse</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.warehouse_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.warehouse_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.warehouse_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.warehouse_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type.type_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type.type_name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
